/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Dec 7, 2021, 3:11:44 PM
    Author     : Viktor
*/

/*
fonts

font-family: 'Myriad Pro';
font-family: 'Roboto', sans-serif;

*/
html {
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    position: relative;
}
.container{
    max-width: 1188px;
}
img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

.bg-warning{
    background-color: #F7CC4B !important;
}
.text-warning{
    color:#F7CC4B !important;
}
.btn-outline-warning{
    background-color: transparent;
    color: #F7CC4B;
    border-color: #F7CC4B;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: -0.25px;
    line-height: 28px;
    text-align: center;
    padding:5px 37px;
}
.bg-light{
    background-color: rgba(0,0,0,0.35)!important;
}
.text-b1-grey{
    color: #B1B1B1;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: -0.25px;
}
.p-light{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.25px;
}

/*header style*/
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar{
    padding: 23px 0 26px;
}
#main-menu .nav-item a{
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "Myriad Pro";
    font-size: 14px;
    letter-spacing: -0.25px;
    line-height: 21px;
}

#main-menu .nav-item a:hover,
#main-menu .nav-item a.active{
    background-color: rgba(255, 255, 255,0.3);
    color: rgba(0,0,0,0.4);
}

/*hero style start*/
.carousel-bg{
    padding: 155px 0 206px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}
.hero{
    position: relative;
}
.hero:after{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 40px solid white;
    border-left: 100vw solid transparent;
}
.hero .carousel .carousel-indicators{
    margin-bottom: 91px;
}
h1{
    font-family: "Myriad Pro" !important;
    font-size: 32px !important;
    letter-spacing: -0.25px !important;
    line-height: 48px !important;
    font-weight: 400 !important;
}
.carousel-indicators [data-bs-target]{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}
.carousel-indicators .active {
    background-color: #FFFFFF;
}

/*about style*/
.about{
    padding: 40px 0 76px;
}
.about h2{
    color: #222222;
    font-family: "Myriad Pro";
    font-size: 30px;
    letter-spacing: -0.25px;
}
.about-img img{
    width: 100%;
}
.about p.text-warning,
.parallax p.text-warning,
.achievements p.text-warning{
    font-family: "Myriad Pro";
    font-size: 16px;
    letter-spacing: -0.25px;
}


/*video style*/
.video{
    padding: 151px 0 133px;
    position: relative;
}
.h2-thin{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: -0.25px;
    line-height: 28px;
}
.video:before{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-top: 40px solid white;
    border-right: 100vw solid transparent;
}
.video:after{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 40px solid transparent;
    border-right: 100vw solid white;
}
.presentation {
    max-width: 820px;
    max-height: 480px;
    margin-inline:auto;
}
.video-sub{
    color: #222222;
    font-family: "Myriad Pro";
    font-size: 14px;
    letter-spacing: -0.25px;
    line-height: 20px;
}

/*team style*/
.team{
    padding: 74px 0 42px;
}
.team .h2-thin{
    color:#222222;
}
.team-img-wrapper{
    position: relative;
    overflow: hidden;
    max-height: 253px;
    max-width: 253px;
    margin-inline:auto;
    transition: 0.5s ease-in-out;
}
.team-img-wrapper .team-social{
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0;
    transition: 0.5s ease-in-out;


}
.team-img-wrapper:hover .team-social{
    opacity: 1;
}
.team-social .fab{
    font-size: 24px;
    line-height: 48px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    margin-inline: 6px;
    transition: 0.3s ease-in-out;
}
.team-social .fab:hover{
    transform: scale(1.2);
}

.members-name{
    color: #222222;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.25px;
    margin-bottom: 13px;
}
.team-info p.text-warning{
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: -0.25px;
}
.owl-carousel button.owl-dot {
    display: inline-block;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: rgba(34, 34, 34, 0.25);
    margin-inline:8px;
}
.owl-carousel button.owl-dot.active{
    background-color: rgba(34, 34, 34, 0.5);
}
.team-info{
    transition: 0.3s linear;
}
.team-info:hover{
    transform: scale(1.1);
}

/*parallax style*/
.parallax{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 164px 0 117px;
    position: relative;
}
.parallax .container{
    max-width: 573px;
}
.parallax:before{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-top: 40px solid white;
    border-left: 100vw solid transparent;
}
.parallax:after{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 40px solid transparent;
    border-left: 100vw solid white;
}

/*principles style*/
.principles{
    padding: 44px 0 66px;

}
.principles img{
    width: 100%;
}
.principles .h2-thin{
    color:#222222;
}
/*portfolio style*/
.portfolio p.text-light{
    color: #444444;
}
.portfolio{
    padding: 46px 0 60px;
    position: relative;
}
.portfolio .products img{
    position: relative;
}
.portfolio .products a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: #101010;
    font-size: 18px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.portfolio .products:hover a{
    opacity: 1;
}
.portfolio .owl-carousel .owl-stage-outer{
    margin-bottom: 66px;
}
.portfolio .owl-carousel button.owl-dot {
    background-color: rgba(255, 255, 255, 0.5);
}
.portfolio .owl-carousel button.owl-dot.active{
    background-color: rgba(255, 255, 255, 1);
}
.portfolio:before{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-top: 40px solid white;
    border-right: 100vw solid transparent;
}
.portfolio:after{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 40px solid transparent;
    border-right: 100vw solid white;
}
/*achievements style*/
.achievements{
    padding: 35px 0 25px;
}
.far{
    font-size: 44px;
}
.achievements h2{
    color:#222222;
}
.achievement-description{
    color: #666666;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: -0.25px;
}
#quote-carousel{
    padding-top: 40px;
    position: relative;
}
#quote-carousel:before{
    display: block;
    content: '';
    width: 100%;
    background-color: #EEEEEE;
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
}
#quote-carousel .carousel-indicators{
    margin-bottom: 0px !important;

}
#quote-carousel .carousel-indicators [data-bs-target]{
    background-color: rgba(34, 34, 34,0.25);
}
#quote-carousel .carousel-indicators .active {
    background-color: rgba(34, 34, 34,0.5);
}
.quote{
    color: #222222;
    font-family: "Myriad Pro";
    font-size: 16px;
    letter-spacing: -0.25px;
    line-height: 24px;
}
.title{
    color: #BBBBBB;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: -0.25px;
    line-height: 22px;
    margin-bottom: 60px;
}

.achievement-number-1::after{
    font: 400 44px "Myriad Pro";
    letter-spacing: -0.25px;
    content: counter(count);
    animation: counter 5s linear infinite;
    counter-reset: count 265;
}
.achievement-number-2::after{
    font: 400 44px "Myriad Pro";
    letter-spacing: -0.25px;
    content: counter(count);
    animation: counter 5s linear infinite;
    counter-reset: count 198;
}
.achievement-number-3::after{
    font: 400 44px "Myriad Pro";
    letter-spacing: -0.25px;
    content: counter(count);
    animation: counter 5s linear infinite;
    counter-reset: count 1898;
}
.achievement-number-4::after{
    font: 400 44px "Myriad Pro";
    letter-spacing: -0.25px;
    content: counter(count);
    animation: counter 5s linear infinite;
    counter-reset: count 365;
}

@keyframes counter {
    0%{
        counter-increment: count 0;
    }
    45% {
        counter-increment: count -10;
    }
    46% {
        counter-increment: count -9;
    }
    47% {
        counter-increment: count -8;
    }
    48% {
        counter-increment: count -7;
    }
    49% {
        counter-increment: count -6;
    }
    50% {
        counter-increment: count -5;
    }
    51% {
        counter-increment: count -4;
    }
    52% {
        counter-increment: count -3;
    }
    53% {
        counter-increment: count -2;
    }
    54% {
        counter-increment: count -1;
    }
    55% {
        counter-increment: count 0;
    }
    100% {
        counter-increment: count 0;
    }
}
/*newsletter style*/
.newsletter p{
    color: #222222;
}

.newsletter{
    position: relative;
    padding: 45px 0 30px;
}
.newsletter:before{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    border-top: 40px solid white;
    border-left: 100vw solid transparent;
}
.newsletter .form-control{
    border: 2px solid #FFFFFF;
    background-color: transparent;
    padding: 11px 0;
    padding-left: 8px;
}


.newsletter .form-control::placeholder{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: -0.25px;
    line-height: 28px;
}
.newsletter .btn-dark{
    border: 2px solid #222222;
    background-color: #222222;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: -0.25px;
    line-height: 35px;
    padding: 6px 56px;
    transition: 0.3s ease-in-out;
}
.newsletter .btn-dark:hover{
    background-color: transparent;
    color: #222222;
}

/*footer style*/
footer{
    background-color: #222222;
    padding: 26px 0 30px;
}
footer a{
    height: 32px;
    width: 32px;
    font-size: 16px;
    line-height: 32px !important;
    border: 1px solid #666666;
    border-radius: 50%;
    color: #666666;
    margin-inline:6px;
    transition: 0.2s linear;
}
footer a:hover{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    transform: translateY(-5px);
}
footer p{
    color: #BBBBBB;
    font-family: Roboto;
    font-size: 14px;
    letter-spacing: -0.25px;
    line-height: 24px;
}